@media all and (max-width: 600px){
    div{
        width:100%;
        height:auto;
        margin-left:10px;
    }
}
@media all and (max-width: 1200px) {
    a.menu {
        display: inline-block;
        padding:0px 6px;
        margin:0px 4px;
    }
}
*{
    padding: 10px;
    margin: 10px;
}
@font-face {
    font-family: "Headliner";
    src: url("HeadlinerNo.45 DEMO.ttf");
  }
.encone-out{
    height: 50px;
    width: 300px;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0px 14px 41px -20px rgba(0,0,0,1);
}
.encone-in{
    position: relative;
    top: -19px;
    left: -17px;
    height: 48px;
    width: 285px;
    background-color: #292d2c;
    border-radius: 20px;
}
a.in{
    position: relative;
    top: -10px;
    left: 30px;
    font-family: "Headliner";
    font-weight: 100;
    color: beige;
    text-align: center;
    font-size: 60px;
}
a.in:hover{
    color: white;
}
.encone-in:hover{
    background-color: black;
}

.enctwo-out{
    position: absolute;
    top: 40px;
    left: 520px;
    height: 50px;
    width: 300px;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0px 14px 41px -20px rgba(0,0,0,1);
}
.enctwo-in{
    position: absolute;
    top: -9px;
    left: -7px;
    height: 48px;
    width: 285px;
    background-color: #292d2c;
    border-radius: 20px;
}
a.two-in{
    position: absolute;
    top: -20px;
    left: 40px;
    font-family: "Headliner";
    font-weight: 100;
    color: beige;
    text-align: center;
    font-size: 60px;
}
a.two-in:hover{
    color: white;
}
.enctwo-in:hover{
    background-color: black;
}

.encthree-out{
    position: absolute;
    top: 40px;
    left: 1020px;
    height: 50px;
    width: 300px;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0px 14px 41px -20px rgba(0,0,0,1);
}
.encthree-in{
    position: absolute;
    top: -9px;
    left: -7px;
    height: 48px;
    width: 285px;
    background-color: #292d2c;
    border-radius: 20px;
}
a.three-in{
    position: absolute;
    top: -20px;
    left: 50px;
    font-family: "Headliner";
    font-weight: 100;
    color: beige;
    text-align: center;
    font-size: 60px;
}
a.three-in:hover{
    color: white;
}
.encthree-in:hover{
    background-color: black;
}

.encfour-out{
    position: absolute;
    top: 40px;
    left: 1520px;
    height: 50px;
    width: 300px;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0px 14px 41px -20px rgba(0,0,0,1);
}
.encfour-in{
    position: absolute;
    top: -9px;
    left: -7px;
    height: 48px;
    width: 285px;
    background-color: #292d2c;
    border-radius: 20px;
}
a.four-in{
    position: absolute;
    top: -20px;
    left: 40px;
    font-family: "Headliner";
    font-weight: 100;
    color: beige;
    text-align: center;
    font-size: 60px;
}
a.four-in:hover{
    color: white;
}
.encfour-in:hover{
    background-color: black;
}

img{
    margin-left: -10px;
    position: relative;
    top: 50px;
    left: 0px;
    width: 1830px;
    height: 600px;
    border-radius: 30px;
}

h1.tit{
   
        font-family: "Headliner";
        color: beige;
        font-size: 400px;
        font-weight: 590;
        position: absolute;
        top: 250px;
        left: 75px;
        text-shadow: 5px 10px rgb(99, 99, 99);

}
h1.tit:hover{
    color: white;

}
h1.tit-cont{
   
    font-family: "Headliner";
    color: beige;
    font-size: 400px;
    font-weight: 590;
    position: absolute;
    top: 250px;
    left: 400px;
    text-shadow: 5px 10px rgb(99, 99, 99);

}
h1.tit-cont:hover{
color: white;
}
h1.tit-ve{
   
    font-family: "Headliner";
    color: beige;
    font-size: 400px;
    font-weight: 590;
    position: absolute;
    top: 250px;
    left: 200px;
    text-shadow: 5px 10px rgb(99, 99, 99);

}
h1.tit-ve:hover{
color: white;
}
h1.subone{
    font-family: "Headliner";
    color: beige;
    font-size: 100px;
    font-weight: 590;
    position: absolute;
    top: 360px;
    left: 1120px;
    text-shadow: 5px 10px rgb(99, 99, 99);
}
h1.subone:hover{
    color: white;

}
h1.subtwo{
    font-family: "Headliner";
    color: beige;
    font-size: 250px;
    font-weight: 590;
    position: absolute;
    top: 295px;
    left: 1200px;
    text-shadow: 5px 10px rgb(99, 99, 99);
}
h1.subtwo:hover{
    color: white;

}
h1.subthree{
    font-family: "Headliner";
    color: beige;
    font-size: 150px;
    font-weight: 590;
    position: absolute;
    top: 550px;
    left: 1350px;
    text-shadow: 5px 10px rgb(99, 99, 99);
}
h1.subthree:hover{
    color: white;

}
section.img{
    margin: -10px;
    background-color: beige;
    width: 1830px;
    height: 600px;
    position: absolute;
    top: 200px;
    border-radius: 30px;
    
}

a.text{
    padding-top: 300px;
    position: absolute;
    top: 700px;
    left: 850px;
    font-family: 'Berkshire Swash', cursive;
    color: beige;
    font-size: 150px;
    text-shadow: 5px 5px rgb(99, 99, 99);
}
a.text:hover{
    color: white;
}
div.info{
    height: 700px;
    width: 1400px;
    background-color: #292d2c;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 400px;
    padding-bottom: 20px;
    position: absolute;
    left: 50px;
    top: 1350px;
    color: white;
    font-size: 50px;
    font-family: 'Philosopher', sans-serif;
    line-height : 70px;
    text-align: justify;

    text-shadow: 5px 5px rgb(0, 0, 0);
    
}
div.info-ended{
    height: 400px;
    width: 1400px;
    background-color: rgba(0,0,0,0);
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 400px;
    padding-bottom: 20px;
    position: absolute;
    left: 50px;
    top: 1350px;
    color: white;
    font-size: 50px;
    font-family: 'Philosopher', sans-serif;
    line-height : 70px;
    text-align: justify;

    text-shadow: 5px 5px rgb(0, 0, 0);
    
}
div.info-skills{
    height: 700px;
    width: 1400px;
    background-color: #292d2c;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 400px;
    padding-bottom: 200px;
    position: absolute;
    left: 50px;
    top: 1050px;
    color: white;
    font-size: 50px;
    font-family: 'Philosopher', sans-serif;
    line-height : 70px;
    text-align: justify;

    text-shadow: 5px 5px rgb(0, 0, 0);
    
}
div.info-skillstwo{
    height: 300px;
    width: 1400px;
    background-color: #292d2c;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 400px;
    padding-bottom: 200px;
    position: absolute;
    left: 50px;
    top: 1750px;
    color: white;
    font-size: 50px;
    font-family: 'Philosopher', sans-serif;
    line-height : 70px;
    text-align: justify;

    text-shadow: 5px 5px rgb(0, 0, 0);
}
div.info-skillsthree{
    height: 100px;
    width: 1400px;
    background-color: #292d2c;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 400px;
    padding-bottom: 20px;
    position: absolute;
    left: 50px;
    top: 2000px;
    color: white;
    font-size: 50px;
    font-family: 'Philosopher', sans-serif;
    line-height : 70px;
    text-align: justify;

    text-shadow: 5px 5px rgb(0, 0, 0);
}
img.twt{
    position: absolute;
    top:1000px;
    left: 50px;
    border-radius: 40px;
    height: 500px;
    width: 500px;
}
img.fb{
    position: absolute;
    top:1000px;
    left: 650px;
    border-radius: 200px;
    height: 500px;
    width: 500px;
}
img.inst{
    position: absolute;
    top:1000px;
    left: 1300px;
    border-radius: 0px;
    height: 500px;
    width: 500px;
}
a.twit{
    font-family: "Headliner";
    color: beige;
    font-size: 100px;
    font-weight: 590;
    position: absolute;
    top: 1550px;
    left: 100px;
    text-shadow: 5px 10px rgb(99, 99, 99);
}
a.twit:hover{
    color: white;
}
a.fb{
    font-family: "Headliner";
    color: beige;
    font-size: 100px;
    font-weight: 590;
    position: absolute;
    top: 1550px;
    left: 750px;
    text-shadow: 5px 10px rgb(99, 99, 99);
}
a.fb:hover{
    color: white;
}
a.inst{
    font-family: "Headliner";
    color: beige;
    font-size: 100px;
    font-weight: 590;
    position: absolute;
    top: 1550px;
    left: 1330px;
    text-shadow: 5px 10px rgb(99, 99, 99);
}
a.inst:hover{
    color: white;
}
p.text-ve{
    padding-top: 300px;
    position: absolute;
    top: 800px;
    left: 750px;
    font-family: 'Berkshire Swash', cursive;
    color: beige;
    font-size: 100px;
    text-shadow: 5px 5px rgb(99, 99, 99);
}
p.text-ve:hover{
color: white;
}
div.end-cont{
    position: absolute;
    top: 1300px;
    left: 100px;
    border: solid 2px;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    background-image: url(back.png);
    opacity: 30%;
    background-color: rgb(0, 0, 0);
    width: 1650px;
    height: 950px;
}
video.sweet-k{
    position: absolute;
    top: 1600px;
    left: 300px;
    height: 700px;
    border-radius: 20px;
    border: thick 2px;
    border-color: rgb(0, 0, 0);
    padding-bottom: 20px;
}
.play{
    position: absolute;
    top: 135px;
    left: 600px;
    font-family: "Headliner";
    color: beige;
    font-size: 100px;
    font-weight: 590;

}
